<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jetpackstudy">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackPractice">

        <activity android:name="com.example.jetpackstudy.databinding.DataBindingActivity"
            android:exported="false"/>

        <activity android:name="com.example.jetpackstudy.livedata.LiveDataActivity"
            android:exported="false"/>

        <activity android:name="com.example.jetpackstudy.navigation.NaviActivity"
            android:exported="false"/>

        <activity android:name="com.example.jetpackstudy.paging.PagingActivity"
            android:exported="false"/>

        <activity android:name="com.example.jetpackstudy.paging.pagingex.PagingExActivity"
            android:exported="false"/>

        <activity android:name="com.example.jetpackstudy.mvvm.ContactActivity"
            android:exported="false"/>

        <activity android:name="com.example.jetpackstudy.mvvm.AddActivity"
            android:exported="false"/>

        <activity android:name="com.example.jetpackstudy.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>